---
pushgateway:
  url: https://localhost:9091
  insecure_skip_verify: false
  ca_path: "./ca.crt"
  cert_path: "./server.crt"
  key_path: "./server.key"
  auth:
    username: pushgateway
    password: pushgateway
exporters:
  - name: node_exporter
    url: http://localhost:9100/metrics
    interval: 60
log:
  level: INFO
  path: ./logs/pushgatewaybot
  maxsize: 100
  maxage: 7
  compress: true
